{% if extractor == 'svg_sprite' %}
  <svg class="icon icon-preview" width="{{ settings.size|default(48) }}" height="{{ settings.size|default(48) }}" fill="currentColor">
    <title>{{ icon_label }}</title>
    <use xlink:href="{{ source }}#{{ icon_id }}"/>
  </svg>
{% else %}
  <img loading="lazy" class="icon icon-preview" src="{{ source }}" title="{{ icon_label }}" alt="{{ icon_id }}" width="{{ settings.size|default(48) }}" height="{{ settings.size|default(48) }}">
{% endif %}
