  <div class="card flex flex-col gap-6 border-1 border-secondary  p-6">
                <img class=" h-full w-full" src="{{imageurl}}" alt="{{title}}">
                <div class="text-tertiary-300">{{subtitle}} | {{date}}</div>
                <div class="div flex flex-col gap-2">
                    <h2 class="text-2xl font-medium text-body">{{title}}</h2>
                    <div class="text-tertiary-300">{{description}}</div>
                </div>
                <div class="mt-auto">
                 {{cta}}
                 </div>
            </div>
