{% set base_id = base_id|default('ui-patterns-test-form') %}
<form {{ attributes.addClass(['ui-patterns-test-form-replaced', base_id]) }}>
    <textarea id="{{ base_id }}-textarea">{{ slot }}</textarea>
    <input   id="{{ base_id }}-input" type="text" name="name" value="{{ string }}" />
</form>
<div class="ui-patterns-test-form-replaced-slot">
    REPLACED
{{ slot_replaced }}
</div>