<li class="font-medium text-black underline-offset-2 hover:underline focus:underline focus:outline-none"{{ attributes|default(create_attribute()) }}>
  {% if link.type == 'link' %}
    <a href="{{ link.url }}" 
       class="text-white azmat hover:text-gray-800 transition-colors duration-200 ease-in-out px-2 py-2"
       {% if link.options.attributes %}{{ create_attribute(link.options.attributes) }}{% endif %}>
      {{ link.title }}
    </a>
  {% else %}
    <span class="shaukat text-white bg-primary px-2 py-2  hover:text-gray-800 transition-colors duration-200 ease-in-out">{{ link }}</span> {# Fallback if `link` is just a string #}
  {% endif %}
</li>
